header {
	animation-name: scale-up-center;
	animation-duration: 2.2s;
	animation-timing-function: linear;
	animation-delay: 3s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
	opacity: 0;
}

@keyframes scale-up-center {
	0% {
		transform: scale(0.2);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

a {
	img {
		&:hover {
			animation-name: wobble-hor-top;
			animation-duration: 2s;
			animation-timing-function: ease-in-out;
			animation-delay: 0s;
			animation-iteration-count: 2;
			animation-direction: normal;
			animation-fill-mode: none;
		}
	}
}

@keyframes wobble-hor-top {
	0% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}
	15% {
		transform: translateX(-30px) rotate(6deg);
	}
	30% {
		transform: translateX(15px) rotate(-6deg);
	}
	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}
	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}
	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}
}

.swirl {
	animation-name: swirl;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: none;
}

@keyframes swirl {
	0% {
		transform: rotate(-540deg) scale(0);
		transform-origin: 100% 100%;
		opacity: 0;
	}
	100% {
		transform: rotate(0) scale(1);
		transform-origin: 100% 100%;
		opacity: 1;
	}
}

.swirl2 {
	animation-name: swirlslow;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-fill-mode: none;
}

@keyframes swirlslow {
	0% {
		transform: rotate(-540deg) scale(0);
		transform-origin: 100% 100%;
		opacity: 0;
	}
	100% {
		transform: rotate(0) scale(1);
		transform-origin: 100% 100%;
		opacity: 1;
	}
}

.roll {
	animation-name: roll;
	animation-duration: 3.2s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: none;
}

@keyframes roll {
	0% {
		transform: translateX(800px) rotate(-840deg);
		opacity: 0;
	}
	100% {
		transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
}

.fastroll {
	animation-name: fastroll;
	animation-duration: 1.4s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-fill-mode: none;
}

@keyframes fastroll {
	0% {
		transform: translateX(500px) rotate(-540deg);
		opacity: 0;
	}
	100% {
		transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
}

.blanket {
	animation-name: fasterroll;
	animation-duration: 4s;
	animation-timing-function: ease;
	// animation-delay: 0.4s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-fill-mode: none;
}

@keyframes fasterroll {
	0% {
		transform: translateX(-500px) rotate(2040deg);
		opacity: 0;
	}
	100% {
		transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
}

.container {
	animation-name: bodyroll;
	animation-duration: 7s;
	animation-timing-function: ease;
	// animation-delay: 0.4s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-fill-mode: none;
}

@keyframes bodyroll {
	0% {
		transform: translateX(-500px) rotate(2040deg);
		opacity: 0;
	}
	100% {
		transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
}
