.assets {
	display: flex;
	flex-direction: column;
}

.asset {
	width: 200px;
	position: absolute;
	padding: 20px;
}

.asset,
.top-asset {
	a,
	.hover-text {
		display: none;
		padding: 20px 0;
		position: absolute;
		top: 0%;
		right: 0%;
		z-index: 100000000;
	}

	&:hover {
		a {
			display: block;
		}
	}

	img {
		z-index: 10000;
	}
}

.row-one {
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;

	.video-container {
		position: relative;
		img {
			width: 100%;
			top: 0;
			right: 0;
			left: 0;
			margin: inherit;
			position: absolute;
		}
	}
}

.moon,
.sun {
	img {
		width: 50%;
	}
}

.container,
.grass {
	display: flex;
	flex-wrap: wrap;
}

.bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -100000;
	opacity: 0.5;
}

.video {
	a {
		color: white;
	}
}

.switch {
	position: absolute;
	top: 0;
	right: 0;
}
