body {
	overflow-x: hidden;
	font-family: "Roboto", sans-serif;
	// color: white;
	// background-color: black;
	color: black;
}
.bg {
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -100000;
}
header {
	margin: 0 auto;
	width: 100%;
	z-index: -1000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 50%;
	}
}

h1 {
	@include font(100);
	text-align: center;
	opacity: 50%;
}

a,
p {
	@include font(20);
	text-decoration: none;
	color: black;
	text-align: center;
	position: relative;
}

.container {
	margin-top: 200px;
	height: 150vh;
	// border: 1px solid orangered;
	position: relative;
}

p {
	// opacity: 0;
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);
	// margin: 0 auto;

	// &:hover {
	// 	opacity: 1;
	// 	z-index: 1000;
	// }
}

li {
	list-style-type: none;
}

img {
	z-index: 1000;
}

video {
	// width: 215px;
	// height: 300px;
	// margin: 0 auto;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.wrapper {
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
}
