body {
	overflow-x: hidden;
	font-family: "Roboto", sans-serif;
	background-color: black;
	z-index: -1000000;
}

header {
	margin: 0 auto;
	width: 100%;
	z-index: -100;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 50%;
		margin: 0 auto;
	}
}

h1 {
	@include font(100);
	text-align: center;
	opacity: 50%;
}

a,
p {
	@include font(20);
	text-decoration: none;
	color: white;
	text-align: center;
	position: relative;
}

.container {
	margin-top: 200px;
	height: 150vh;
	position: relative;
}

li {
	list-style-type: none;
}

.wrapper {
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
}

video {
	width: 200px;
	z-index: -100;
}

.bottom {
	position: relative;
	padding-bottom: 300px;
}

.name {
	margin: 0 auto;
	display: flex;
	height: 500px;
	position: relative;
}

.grass {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1000;
}

.switch {
	@include font(14);
	font-weight: normal;
}
