.outside {
	background-image: url(../assets/toplayer_assets/e4fba15822679b749949ad0ea811e26e--iphone-backgrounds-iphone-wallpaper.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	a,
	p {
		color: black;
	}
}
